ul{
    list-style: none;
    margin: 48px 0;
  }
  
  ul li a{
    isolation: isolate;
    text-decoration: none;
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #4263EB;
    margin-bottom: 16px;
    border-radius: 6px;
    transition: background 400ms;
  }
  
  ul li a:hover {
    background-color: #364FC7;
  }
  
  ul li a:visited{
    color: #ffffff;
  }