ul{
    list-style: none;
    margin: 48px 0;
  }
  
  ul li a{
    isolation: isolate;
    text-decoration: none;
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #de4a68;
    color: #ffffff;
    margin-bottom: 16px;
    border-radius: 6px;
    transition: background 400ms;
  }
  
  ul li a:hover {
    background-color: #e88297;
  }
  
  ul li a:visited{
    color: #ffffff;
  }